#ASUM-DM

 Es un enfoque para la preparación y organización de datos que se enfoca en 5 etapas fundamentales:

Análisis, selección, unificación, muestreo y depuración.

Este proceso es útil para mejorar la calidad de los datos antes de usarlos en modelos de análisis y aprendizaje automático

Contesto el problema:
análisis de clientes para estrategias de marketing personalizada una empresa de servicios financieros quiere lanzar una campaña de marketing personalizada para sus clientes de varias ciudades.
 La idea es identificar perfiles de clientes en función de características como edad, ingresos y categoría de cliente para definir estrategias.

El equipo de marketing ha solicitado los analistas de datos e identificar:

segmentos de clientes:
agrupar a los clientes en función de su categoría, ingresos, edad y ciudad.

Tendencias de ingresos:
 analizar la distribución de los ingresos mensuales y detectar patrones en diferentes ciudades y edades.

Clientes potenciales:
identificar clientes con altos ingresos y en categoría de alto valor(“A”) para campañas específicas.

Sin embargo, el conjunto de datos tiene varios problemas qué dificultan el análisis directo, cómo duplicados, valores atípicos y errores tipográficos.

Antes de aplicar modelos de segmentación y análisis de tendencias, es necesario limpiar y organizar la información

# 1 Análisis de los datos (A):

Objetivo:

 examinar la calidad y característica de los datos.

 Acciones:
  revisar el conjunto de datos para identificar valores faltantes,  datos inconsistentes, duplicados, errores tipográficos y valores atípicos.

Este paso permite entender el tipo de problema que podrían afectar el análisis y decidir cómo resolverlos.

In [1]:
#Importar librerías necesarías
import pandas as pd

In [2]:
# leer el archivo csv en un DataFrame
df=pd.read_csv("clientes_con_errores.csv")
#contar cantidad de registros
df.count()

ID_cliente         501
Edad               390
Ingreso_mensual    257
Categoría          442
Ciudad             406
País               251
dtype: int64

In [7]:
# Mostrar las primeras filas del DataFrame
print("===============Vista inicial del DataFrame===================")
display(df.head())

===============Vista inicial del DataFrame===================

  ID_cliente   Edad  Ingreso_mensual Categoría     Ciudad    País
0     ID_001   -1.0              NaN         b        NaN     NaN
1     ID_002    NaN              NaN         b   Ciudad_B  Pais_Y
2     ID_003  150.0          7646.28         A   Ciudad_B     NaN
3     ID_004   30.0          -500.00       VIP  Ciudad123  Pais_X
4     ID_005  150.0              NaN         a   ciudad_a  Pais_X

In [8]:
# 1 verificar valores nulos
print("\n Valores nulos por columnas:")
df.isnull().sum()

 Valores nulos por columnas:

ID_cliente           0
Edad               111
Ingreso_mensual    244
Categoría           59
Ciudad              95
País               250
dtype: int64

In [11]:
# Identificar edades inconsistentes
# consideremos que las edades válidas están entre 18 y 90
edades_inconsistentes=df[(df['Edad']<18) | (df['Edad']>90)|(df['Edad'].isnull())]
print(edades_inconsistentes)

    ID_cliente   Edad  Ingreso_mensual Categoría     Ciudad    País
0       ID_001   -1.0              NaN         b        NaN     NaN
1       ID_002    NaN              NaN         b   Ciudad_B  Pais_Y
2       ID_003  150.0          7646.28         A   Ciudad_B     NaN
4       ID_005  150.0              NaN         a   ciudad_a  Pais_X
5       ID_006   -1.0         16558.77         B        NaN  Pais_Y
..         ...    ...              ...       ...        ...     ...
494     ID_495   -1.0              NaN       VIP        NaN     NaN
495     ID_496   -1.0              NaN         A   Ciudad_A     NaN
496     ID_497   -1.0              NaN         a  Ciudad123     NaN
497     ID_498    NaN              NaN         A   Ciudad-C  Pais_Y
498     ID_499  150.0         10781.73         a   Ciudad-C     NaN

[371 rows x 6 columns]

In [13]:
# 3 Identificar inconsistencias en los nombres de ciudades
# ver una lista única de las ciudades ingresadas para detectar variaciones
ciudades_unicas=df['Ciudad'].dropna().unique()
print("\n Ciudades únicas")
print(ciudades_unicas)

 Ciudades únicas
['Ciudad_B' 'Ciudad123' 'ciudad_a' 'Ciudad_A' 'Ciudad-C']

# 2 Selección  de los datos (S):

Objetivo: Elegir las variables y los registros más relevantes para el análisis.

Acciones: Determinar qué columna (atributos) y filas (registros) son útiles para el objetivo del análisis.

Eliminar variables redundantes, irrelevantes o registros que no aportan valor lo cual ayuda a mejorar la eficiencia del procesamiento.

Filtrado de flilas(registros):
Eliminar registros que tengan:
Edades fuera del rango razonable (18 a 90).
ingresos no númericos o valores negativos.
categorías de clientes a "A", "B", "C"

"A" cliente de alto valor

"B" cliente de valor medio

"C" cliente de bajo valor

In [14]:
# Filtro de datos
# 1 selección de columnas úttiles
# 2 filtrado de valores inconsistentes
# 3 filtrar edades en un rango de 18 a 90
df_filtrado =df[(df['Edad']>=18) & (df['Edad']<=90)]
df_filtrado

    ID_cliente  Edad  Ingreso_mensual Categoría     Ciudad    País
3       ID_004  30.0           -500.0       VIP  Ciudad123  Pais_X
8       ID_009  48.0           -500.0         a        NaN  Pais_Y
10      ID_011  33.0              NaN         B   Ciudad_A     NaN
12      ID_013  54.0              NaN       NaN   ciudad_a     NaN
13      ID_014  81.0              NaN         A   Ciudad_B     NaN
..         ...   ...              ...       ...        ...     ...
488     ID_489  66.0              NaN         B  Ciudad123  Pais_Y
491     ID_492  62.0              NaN         A   Ciudad_B     NaN
492     ID_493  55.0              NaN       NaN   ciudad_a  Pais_Y
499     ID_500  36.0              NaN         A        NaN     NaN
500     ID_500  36.0              NaN         A        NaN     NaN

[130 rows x 6 columns]

In [15]:
# Filtro ingresos válidos(quitar ingresos no numericos y valores negativos
df_filtrado['Ingreso_mensual']=pd.to_numeric(df_filtrado['Ingreso_mensual'],errors='coerce')
df_filtrado=df_filtrado[df_filtrado['Ingreso_mensual']>0]
df_filtrado

C:\Users\Usuario\AppData\Local\Temp\ipykernel_18712\638639972.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['Ingreso_mensual']=pd.to_numeric(df_filtrado['Ingreso_mensual'],errors='coerce')

    ID_cliente  Edad  Ingreso_mensual Categoría     Ciudad    País
18      ID_019  22.0         12422.06       VIP   Ciudad_B     NaN
20      ID_021  29.0          3584.98         C   Ciudad_A     NaN
25      ID_026  29.0         11771.21       NaN   Ciudad_B  Pais_Y
42      ID_043  89.0         16732.84         b  Ciudad123     NaN
51      ID_052  54.0         13878.16         B   Ciudad_A     NaN
57      ID_116  78.0          5799.32         A  Ciudad123     NaN
76      ID_077  26.0          6953.78         B  Ciudad123     NaN
93      ID_094  72.0         14026.67       VIP        NaN  Pais_X
106     ID_107  24.0          3797.23         C   Ciudad_B  Pais_X
125     ID_126  56.0          5685.07         b  Ciudad123     NaN
138     ID_139  57.0          1861.35         A        NaN  Pais_X
153     ID_154  31.0         14234.22         B  Ciudad123  Pais_X
154     ID_155  51.0          1749.90         C        NaN     NaN
155     ID_156  74.0         17520.34         B   Ciudad_B  Pais_X
187     ID_188  44.0          4102.98         A        NaN     NaN
202     ID_203  58.0          4608.30         C        NaN  Pais_Y
212     ID_213  57.0         16821.40       NaN  Ciudad123     NaN
222     ID_223  32.0         15256.73       NaN   Ciudad_A     NaN
230     ID_246  70.0         11927.53         a   Ciudad_A     NaN
249     ID_250  45.0         12777.62         a  Ciudad123     NaN
260     ID_261  31.0         16767.19       NaN  Ciudad123  Pais_X
272     ID_273  36.0          5662.07         a   ciudad_a     NaN
290     ID_291  28.0          6749.09       NaN   Ciudad_B     NaN
307     ID_308  19.0          5097.94         B   ciudad_a  Pais_Y
314     ID_315  27.0          3884.64         b   Ciudad_A  Pais_X
316     ID_317  27.0         17858.67         B   Ciudad_A  Pais_X
325     ID_326  39.0          8570.03         b   Ciudad_B     NaN
328     ID_329  22.0          6965.55         a        NaN     NaN
331     ID_332  37.0          2903.06         B   ciudad_a  Pais_X
343     ID_344  18.0          1930.35         B   Ciudad-C     NaN
344     ID_345  76.0         18742.50       VIP        NaN     NaN
345     ID_346  88.0         17694.74         b   Ciudad_B  Pais_X
393     ID_394  58.0          7439.77         A  Ciudad123     NaN
452     ID_453  84.0          6281.84       VIP  Ciudad123  Pais_Y
479     ID_480  71.0          4729.79       NaN        NaN     NaN

# 3 Unificación y normalización de valores(U)

Estandarizar los nombre de ciudades para tener consistencia en los datos y facilitar el análisis posterir.
pasos:
Normalización de los nombres de ciudades: Convertir todos los nombres a un formato consistente ,eliminar errores tipográficos y variaciones en mayúsculas/minúsculas también corregiremos cualquier variación que deba agruparse
Ejemplos:
"Ciudad_A" y "ciudad_a deben ser iguales

# 4 Muestreo representativo(M):

Si es necesario, crear un subconjunto de dotos representativos para pruebas iniciales de segmentación
pasos:

Definir el tamaño de la Muestra:

Asegurar representatividad en categorías clave:

Revisar y validar la muestra:

# 5 Depuración final (D):

# 6 con los datos organizados y depurados:

Aplicar técnicas de segmentación de clientes para identificar distintos perfiles dentro del conjunto de datos.